/* HTML5 ✰ Boilerplate */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
/* ul, ol { margin-left: 2em; } */
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


::-moz-selection{ background: #e2d9b0; color:#fff; text-shadow: none; }
::selection { background:#e2d9b0; color:#fff; text-shadow: none; }
/* a:link { -webkit-tap-highlight-color: #FF5E99; } */
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

/* body, select, input, textarea { color: #444; } */
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
/*
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }
*/


/**
 * Primary styles
 *
 * Author: @aliciaj_
 */


/* ===================   colors   =================== */

/* 
background
color: #d9ce9c; 
boday
color: #e1d8af;

*/

/* clear */
li{
	list-style-type: none;
}


/* ===================   global   =================== */

html{
	background: #d9ce9c url(../img/background_dktan.png) repeat;
}
body{
	background: #e1d8af url(../img/bg_lttan.png) repeat;
	width: 938px;
	margin: 0 auto;
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,.1);
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.1);
	box-shadow: 0px 0px 10px rgba(0,0,0,.1);
	padding-bottom: 25px;
}
#container{
	width: 620px;
	margin: 0 auto;
	color: black;
}
/* ===================   header   =================== */
header{
	padding: 25px 0 0 0;
}
h1{
	background: url('../img/barn_logo.png') no-repeat;
	width: 620px;
	height: 179px;
}
header nav{
	border-bottom: 3px solid black;
	height: 33px;
	line-height: 33px;
}
header nav ul{
	clear: both;
}
header nav ul li a{
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	color: black;
	text-decoration: none;
	margin: 0 58px;
}
header nav ul li a.active{
	font-family: "Arial Black", Helvetica, sans-serif;
}
header nav ul li a:hover{
	font-family: "Arial Black", Helvetica, sans-serif;
}
/* ===================   body   =================== */
section#aboutIntro{
	margin: 50px 0;
	font-family: "Trebuchet MS", Arial sans-serif;
	overflow: hidden;
}
section#aboutIntro img{
	float: left;
	width: 220px;
	margin: 0 20px 0 0;
}
section#aboutIntro h2{
	width: 380px;
	float: right;
	font-size: 24px;
	font-weight: bold;
}
section#aboutIntro p{
	font-size: 15px;
	float: right;
	width: 380px;
}
section#aboutIntro p:last-child{
	text-align: right;
}
#aboutQuotes{
	clear: both;
}
#slides span{
	float: right;
	font-style: italic;
}

.slides_container div{
	width: 500px;
	margin: 10px 0 28px 34px;
	font-size: 18px;
}
#slides{
	position: relative;
	font-family: 'CovingtonRegular', "Lucida Console", serif;
}
#slides a{
	width: 16px;
	height: 19px;
	position: absolute;
}
#slides blockquote{
	margin-bottom: 15px;
}
.openquote{
	background: url('../img/border_quote_close.png') no-repeat;
	width: 100%;
	height: 14px;
}
.closequote{
	background: url('../img/border_quote_open.png') no-repeat;
	width: 100%;
	height: 14px;
}
.prev{
	background: url('../img/arrow_left.png') no-repeat;
	top: 50%;
}
.next{
	background: url('../img/arrow_right.png') no-repeat;
	top: 50%;
	left: 603px;
}
#schedule{
	margin: 50px 0 0 0;
	text-align: center;
	border-bottom: 1px solid #000;
}
#schedule .countdown{
	font-size: 43px;
	border-bottom: 3px solid black;
	text-transform: uppercase;
	font-family: 'CovingtonRegular', "Lucida Console", serif;
	word-spacing: -15px;
}
#schedule .date{
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	font-size: 24px;
	font-family: 'CovingtonRegular', "Lucida Console", serif;
}
#schedule #nextshow{
	border-bottom: 3px solid #000;
}
#schedule #nextshow .date{
	border-top: 3px solid #000;
	margin: 10px 0 0 0;
}
#schedule li{
	font-size: 30px;
	margin: 7px 0;
	text-transform: uppercase;
	font-family: 'CollegeSemicondensedRegular', serif;
}
#schedule a{
	text-decoration: none;
	color: #000;
}
#schedule a:hover{
	text-decoration: underline;
}
.picturereel{
	margin: 12px 0 0 0;
	border-top: 3px solid #000;
	border-bottom: 3px solid #000;
	overflow: hidden;
}
.picturereel ul{
	overflow: hidden;
	margin: 3px 0 0 0;
}
.picturereel li{
	float: left;
	margin-right: 20px;
}
.picturereel li:last-child{
	margin: 0;
	padding: 0;
}
/* ===================   contact modal   =================== */
#contact{
	background: #e1d8af;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 15px;
	font-size: 18px;
}
#contact fieldset{
	width: 275px;
	margin: 0 auto;
}
#contact li{
	margin: 15px;
}
#contact input[type="text"],
#contact textarea{
	background: #E1D8AF;
	border: 3px solid black;
	width: 250px;
}
#contact input[type="submit"]{
	background: #E1D8AF;
	border: 3px solid black;
	float: right;
}


/* ===================   footer   =================== */
footer{
	clear: both;
	padding: 5px 15px;
	overflow: hidden;
	border-bottom: 1px solid #000;
}
footer p{
	float: left;
	line-height: 34px;
}
footer .social{
	float: right;
}
footer .social li{
	float: left;
	padding: 0 5px;
}
footer .social a{
	width: 34px;
	height: 34px;
}
footer .social .google{
	background: url('../img/ico_soc_sep_map.png') no-repeat;
}
footer .social .google:hover{
	background: url('../img/ico_soc_map.png') no-repeat;
}
footer .social .facebook{
	background: url('../img/ico_soc_sep_fb_.png') no-repeat;
}
footer .social .facebook:hover{
	background: url('../img/ico_soc_fb.png') no-repeat;
}
footer .social .twitter{
	background: url('../img/ico_soc_sep_twitter.png') no-repeat;
}
footer .social .twitter:hover{
	background: url('../img/ico_soc_twitter.png') no-repeat;
}


/*
font-family: "Trebuchet MS";
font-weight: bold;

font-family: 'CollegeCondensedRegular';

font-family: 'CovingtonRegular';
*/

@font-face {
    font-family: 'CollegeCondensedRegular';
    src: url('../fonts/collegec-webfont.eot');
    src: url('../fonts/collegec-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/collegec-webfont.woff') format('woff'),
         url('../fonts/collegec-webfont.ttf') format('truetype'),
         url('../fonts/collegec-webfont.svg#CollegeCondensedRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CollegeSemicondensedRegular';
    src: url('../fonts/colleges-webfont.eot');
    src: url('../fonts/colleges-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/colleges-webfont.woff') format('woff'),
         url('../fonts/colleges-webfont.ttf') format('truetype'),
         url('../fonts/colleges-webfont.svg#CollegeSemicondensedRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}




.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

